// pc
@media screen and (min-width: 992px) {
  body {
    #hero{
      background-image: url('../img/logo.svg');
      background-position-x: 130%; 
      background-position-y: 100%;
      background-size: 45%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      a.btn{
          align-self: center;
      };
    };
    #assets-preview{
      .col-12{
        height: auto;
      };
      .item-box{
          width: 25vw;
          margin-bottom: 35vw;
          cursor: pointer;
          img{
              width: 25vw;
          };
          .item-overlay,.item-hoverbox{
              width: 25vw;
              height: 25vw;
          };
          // hovereffect for JS to add
          &.hovered{
              .item-hoverbox{
                  top: 3vw;
                  left: 2vw;
              }
          };
      };
    };
    #item-details{
      width: 100%;
      padding: 4vw;
      img.logo{
          width: 70px;
      };
      .head{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: left;
        h3,h4, h5, span {
          margin-right: 1rem;
        };
        .flex-break{
          flex-basis: 100%;
          width: 0;
        };
      }
      .carousel{
          margin-bottom: 5vw;
      }
      .carousel ol.carousel-indicators{
          bottom: -5vw;
      }
      .col-item-text{
          .item-text{
              width: 40vw;
              .inner-text{
                min-height: 40vw;
              };
              .item-text-square{
                  bottom: -5vw;
                  right: -4vw;
                  width: 30vw;
                  height: 30vw;
                  background-color: $warning;
              };
          };
      };
    };
  };
};

@media screen and (min-width: 768px) and (max-width: 991px){
  body{
    #assets-preview{
      .col-12{
        height: auto;
      };
      .item-box{
          width: 40vw;
          margin-bottom: 50vw;
          cursor: pointer;
          img{
              width: 40vw;
          };
          .item-overlay,.item-hoverbox{
              width: 40vw;
              height: 40vw;
          };
          // hovereffect for JS to add
          &.hovered{
              .item-hoverbox{
                  top: 5vw;
                  left: 3.8vw;
              }
          };
      };
    };
    #item-details{
      .carousel{
        margin-bottom: 10vw;
      };
      .carousel ol.carousel-indicators{
        bottom: -10vw;
      };
      .col-item-text{
        .item-text{
            width: 80vw;
            .item-text-square{
                bottom: -5vw;
                right: -4vw;
                width: 30vw;
                height: 30vw;
                background-color: $warning;
            };
        };
      };
    };
  };
};